{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}
{% block links %}
  <link rel="stylesheet" href="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css"/> 
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js"></script>


{% endblock %}

{% block content %}

	 <div class="ui top fixed inverted menu" style="margin-top:0px;">
            
            <a class=" header item">

            KDM
             </a>
             <div class="right menu">
            <a class = " item" href="/accounts/login">Login</a>
        	</div>
            
            
    </div>


	<div class="ui teal segment">
<p style="text-align:center;">
	{% trans "Your account has been successfully registered" %}</p>
	</div>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
