{% extends "base.html" %}
{% load staticfiles %}
{% block title %}<link href="{% static 'css/home.css'%}" rel="stylesheet" media="screen">
Welcome to KDM website{% endblock %}
{% block head %}{% endblock %}
{% block content %}

<div class="container-fluid" id="temp">

<nav class="navbar navbar-default" style="" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li >
                        <a href="" style="font-size:20px; color:black;">KDM</a>

                    </li>
                    <li>
                        <a href="/">Create Project</a>
                    </li>
                    <li>
                        <a href="/work">Create Blog</a>
                    </li>
                    <li>
                        <a href="/blogs">Blogs</a>
                    </li>
                    
                    
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>

                <!-- <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                         <li>

                       
                        <a href="{% url 'auth_logout' %}">Logout {{user}}</a>
                        </li>
                    {% else %}

                 
                    <li>
                        <a href="{% url 'auth_login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'registration_register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul> -->
           
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


