{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Welcome to KDM website{% endblock %}
{% block links %}
	<link rel="stylesheet" href="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css"/> 
	 <!--<script src = "{% static 'js/main.js' %}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js"></script>
{% endblock %}
{% block content %}
	<div class="ui inverted menu">
		<a class = "header item">Brand</a>
		<a class = "item">tab1</a>
		<a class = "item">tab2</a>
		<a class = "item">tab3</a>
		<a class = "item">tab4</a>
	</div>
	<div class="ui four column grid">
		<div class="column"></div>
		<div class="column"></div>
		<div class="column"></div>
		<div class="column">1</div>
	</div>
<script type="text/javascript>">
$(document).ready(function(){
	$('a.item').click(function(){
		alert('hello');
		$('.item').removeClass('active');
	$(this).addClass('active');
});
});
</script>
{% endblock %}