

{% extends "base.html" %}
{% load staticfiles %}
{% block title %} <link href="{% static 'css/custom.css'%}" rel="stylesheet" media="screen">


Welcome to KDM website{% endblock %}
{% block head %}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script type = "text/javascript" src = "{% static 'js/modal.js' %}"></script>-->
<link rel="stylesheet" href="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.css"/> 
     <!--<script src = "{% static 'js/main.js' %}"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://oss.maxcdn.com/semantic-ui/2.1.8/semantic.min.js"></script>

{% endblock %}
{% block content %}

 <div class="ui top fixed inverted menu" style="margin-top:0px;">
            
            <a class=" header item">KDM

            
             </a>
            
                <a class = "item" href="/">Home</a>
                 <a class = "item" href="/work">About</a>
                  <a class = "item" href="/blogs">Blogs</a>
                   <a class = "item" href="/contact">Contact</a>
        
            
            
</div>

<!-- <nav class="navbar navbar-default navbar-fixed-top" style="" role="navigation">
        <div class="container">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="index.html"></a>
            </div>
           
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li >
                        <a href="" style="font-size:20px; color:black;">KDM</a>

                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/work">About</a>
                    </li>
                    <li>
                        <a href="/blogs">Blogs</a>
                    </li>
                    
                    
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>

               
                   
           
            </div>
            
        </div>
        
    </nav>
 -->
    <div class="container" id="myElement">
    	<div class="row">
    			<h2 style="padding-top:25px; font-size:40px;">How KDM supports Rygbee?</h2>
    		<p>Modern Business is a fully loaded Bootstrap 3 website starter template. It includes 17 HTML pages along with a working PHP contact form. You can use this template to create larger, multipurpose websites using Bootstrap 3.
    		</p>
    	</div>

    
    </div>
    <hr>
    <!--<div class="container-fluid">
    	<div class="row">
    	    	<div class="col-md-6" "col-xs-6" "col-lg-6" id="project">
    			<span><h3><center>Research Projects</center><h3></span>
    			</div>


    	</div>

    </div>

-->
    
        <div class="row">
            <div class="container">
            <!--<div class="col-lg-12">
                <h2 class="page-header"> Services Panels </h2>
            </div>-->
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <i class="area chart icon large"></i>
                    </div>
                    <div class="panel-body">
                        <h4 style="font-size:18px;"> Research Projects </h4>
                        
                        <a href="#projects" class="ui primary button" > View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <i class="fa fa-book medium" aria-hidden="true"></i>
                    </div>
                    <div class="panel-body">
                        <h4 style="font-size:18px;"> Blogs </h4>

                         <div class="ui primary button" > Learn More </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <img src="{% static 'img/research.png'%}" style="width: 60px; height: 60px;"/>
                    </div>
                    <div class="panel-body">
                        <h4 style="font-size:18px;"> Research Projects </h4>
                         <div class="ui primary button" > Learn More </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <img src="{% static 'img/research.png'%}" style="width: 60px; height: 60px;"/>
                    </div>
                    <div class="panel-body">
                        <h4 style="font-size:18px;"> Research Projects </h4>
                        
                        <div class="ui primary button" > Learn More </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

        <a name="projects"></a>

    <hr>
        
        
        <div class="container">
            <div class="row">
                <h2 style="font-family:Papyrus; text-align:center; font-size:40px;">Research Projects
                 
                 <span>
           
            <a class="ui teal image label" href="/work/post">
              <i class="plus icon"></i>
              Add your Project
             
            </a>  
                 </span>
                 
             </h2>
        </div>
        <hr>
    </div>
    {% if list %}
    {% for li in list %}
    
    {% if not forloop.counter|divisibleby:2 %}

    <div class="content-section-a" style=" padding: 20px 0; background-color: #f1f8e9;">

        <div class="container">
            <div class="row" style="margin-left:-15px; margin-right:-15px;">
                <div class="col-sm-5 col-sm-6">
                    <hr class="section-heading-spacer" style="width:200px; float:left; border-top-width:3px; border-top-style:solid; border-top-color: #e7e7e7;">
                    <div class="clearfix"></div>
                    <h3 class="section-heading" style="font-size:30px;">{{ li.title }}<br><small>by {{ li.user }}</small></h3>
                    <p class="lead" style="font-size:15px;">{{ li.content|linebreaks|truncatechars:40 }}</p>

                  
                    <br />
                   

               
                <div class="row section">
                    <div class="container">
                         <!-- <div><a class="waves-effect waves-light btn modal-trigger" href="#modal{{ forloop.counter}}">Read More</a></div> -->
                         <div class="ui primary button" id="profile{{ forloop.counter }}">Read More</div>


                    </div>
                </div>

                <div class="ui modal profile {{ forloop.counter }}">
                  <i class="close icon"></i>
                  <div class="header">
                    {{ li.title }}
                  </div>
                  <div class="image content">
                    <div class="ui medium image">
                      <img src="/images/avatar/large/chris.jpg">
                    </div>
                    <div class="description">
                      <div class="ui header"></div>
                      <p>{{ li.content }}</p>
                    </div>
                  </div>
                  <div class="actions">
                    <div class="ui buttons">
                      <div class="ui positive icon button"><i class="thumbs outline up icon"></i></div>
                      <div class="or"></div>
                      <div class="ui negative deny button"><i class="remove icon"></i></div>
                      <a href="/form" class="ui button">Send Request</a>
                    </div>
                    
                  </div>
                </div>
                <!-- <div id="modal{{ forloop.counter }}" class="modal">
                 <div class="modal-content">
                    <h4>{{ li.title }}</h4>
                        {% if li.image %}
                            <img src="{{ li.image.url }}" class="responsive-img" />
                        {% endif %}
                        <p>{{ li.content|linebreaks }}</p>
                </div>
                 <div class="modal-footer">
                     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="fa fa-times" aria-hidden="true"></i></a>
                 </div>
                </div> -->
          
                    
                   
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
     <script type="text/javascript">
    $(document).ready(function(){
        $('#profile{{ forloop.counter }}').click(function(){
           
            $('.ui.modal.profile.{{ forloop.counter }}').modal('show');
        });
    });
    </script>

    {% else %}

    <div class="content-section-b" style=" padding: 20px 0;
    border-top-width:1px; border-top-style:solid; border-top-color:#e7e7e7;  border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#e7e7e7;">

        <div class="container">

            <div class="row" style="margin-left:-15px; margin-right:-15px;">
                <div class="col-sm-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer" style="width:200px; float:left; border-top-width:3px; border-top-style:solid; border-top-color: #e7e7e7;">
                    <div class="clearfix"></div>
                    <h3 class="section-heading" style="font-size:30px;">{{ li.title }}<br><small>by {{ li.user }}</small></h3>
                    <p class="lead" style="font-size:15px;">{{ li.content|linebreaks|truncatechars:40 }}</p>

                    <div class="row section">
                    <div class="container">
                        <!--  <div><a class="waves-effect waves-light btn modal-trigger" href="#modal{{ forloop.counter}}">Read More</a></div> -->
                        <div class="ui primary button" id="pro{{ forloop.counter }}">Read more</div>

                    </div>
                    </div>
              <!--   <div id="modal{{ forloop.counter }}" class="modal">
                 <div class="modal-content">
                    <h4>{{ li.title }}</h4>
                        {% if li.image %}
                            <img src="{{ li.image.url }}" class="responsive-img" />
                        {% endif %}
                        <p>{{ li.content|linebreaks }}</p>
                </div>
                 <div class="modal-footer">
                     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="fa fa-times" aria-hidden="true"></i></a>
                 </div>
                </div> -->
                 <div class="ui modal pro {{ forloop.counter }}">
                    <i class="close icon"></i>
                      <div class="header">
                        {{ li.title }}
                      </div>
                      <div class="image content">
                        <div class="ui medium image">
                          <img src="/images/avatar/large/chris.jpg">
                        </div>
                        <div class="description">
                          <div class="ui header"></div>
                          <p>{{ li.content }}</p>
                        </div>
                      </div>
                      <div class="actions">
                       <div class="ui buttons">
                          <div class="ui positive icon button"><i class="thumbs outline up icon"></i></div>
                          <div class="or"></div>
                          <div class="ui negative deny button"><i class="remove icon"></i></div>
                          <a href="/form" class="ui button">Send Request</a>
                        </div>
                        
                      </div>
                </div>

                                        
               
          
                     
                
                </div>
                <!-- <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="" alt="" style="height:20px; width=250px;">
                </div>-->
            </div>

        </div>
        <!-- /.container -->

    </div>

   <script type="text/javascript">

    $(document).ready(function(){
        $('#pro{{ forloop.counter }}').click(function(){
           
            $('.ui.modal.pro.{{ forloop.counter }}').modal('show');
        });
    });


   </script>
    

    {% endif %}

    {% endfor %}
    {% endif %}

    
    
                    
  
  
          

                    
 
                   
          
                   


    
    
 
    {% include 'navbar.html' %}



	
{% endblock %}
